{% extends 'base.html' %}
{% load static %}

{% block header %}
    <div style="height: 110px">
        <img style="width: 100%; height: 100%" src="{% static 'TOR_VM_store/images/header_image.jpg' %}" alt="Нет данных">
    </div>
{% endblock header %}

{% block nav_menu %}
    <div class="menu">
        <div class="menu_left">

        </div>
        <div class="menu_right">
            <nav id="menu1">
                <ul>
                    {% for m in nav_menu %}
                        <li><a href="">{{ m }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock nav_menu %}

{% block content %}
    <div>
        {% for d in data %}
            <ul>
                <li><h1> Категория: {{ d.cat.name }} </h1></li>
                <li> Артикул: {{ d.article_number }} </li>
                <li> Название: {{ d.name }} </li>
                <li> Цена: {{ d.price }} руб. </li>
                <li> Изображение: <a href='{{ d.image.url }}'><img style="width: 150px" src='{{ d.image.url }}' alt="Нет данных"></a> </li>
                <li> Описание: {{ d.description }} </li>
            </ul>
            <br>
        {% endfor %}
    </div>
{% endblock content %}