<div class="menu">
    <ul class="nav_menu">
        {% for m in nav_menu %}
            {% if m.id == nav_selected %}
                <li class="active">{{ m.title }}</li>
            {% else %}
                <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
            {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
            <li class="nav_username">{{ user.username }}</li>
            <li>
                <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                    <button type="submit">Выйти</button>
                </form>
            </li>
        {% else %}
            {% if reg.id == nav_selected %}
                <li class="active">Регистрация</li>
            {% else %}
                <li><a href="{% url 'users:register' %}">Регистрация</a></li>
            {% endif %}

            {% if login.id == nav_selected %}
                <li class="active">Войти</li>
            {% else %}
                <li><a href="{% url 'users:login' %}">Войти</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>