<div class="menu">
    <div class="menu_left">

    </div>
    <div class="menu_right">
        <nav id="menu1">
            <ul class="cats">
                {% for m in nav_menu %}
                    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                {% endfor %}
                <li><form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button type="submit">logout</button>
                </form></li>

            </ul>
        </nav>
    </div>
</div>