{% extends "base.html" %}

{% block content %}
    <h1>Проверьте заказ</h1>
    <div class="order-info">
        <h3>Ваш заказ</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>{{ item.total_price }} рублей</span>
                </li>
            {% endfor %}
        </ul>
        <h3>Итого: {{ cart.get_total_price }} рублей</h3>
    </div>
    {% if cart.get_total_price > 0 %}
    <form action="." method="post" class="order-form">
        {% if not user.is_authenticated %}
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
        {% endif %}
        <p><input type="submit" value="Оформить заказ"></p>
        {% csrf_token %}
    </form>
    {% endif %}
{% endblock %}