{% load static %}
{% load store_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'TOR_VM_store/css/style.css' %}" rel="stylesheet" />
</head>
<body>

<div class="header">
    <a href="{% url 'store_main' %}">
        <img style="width: 100%; height: 100%" src="{% static 'TOR_VM_store/images/header_image.jpg' %}" alt="Нет данных">
    </a>
</div>

{% get_nav_menu user nav_selected %}

<div class="content">
    {% get_categories %}
    <div class="content_right">
{% block content %}

{% endblock content %}
    </div>
</div>
</body>
</html>