{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'TOR_VM_store/css/style.css' %}" rel="stylesheet" />
</head>
<body>

<div class="header">
    <a href="{% url 'store_main' %}">
        <img style="width: 100%; height: 100%" src="{% static 'TOR_VM_store/images/header_image.jpg' %}" alt="Нет данных">
    </a>
</div>
{#сделать инклюд теги для меню#}
<div class="menu">
    <div class="menu_left">

    </div>
    <div class="menu_right">
        <nav id="menu1">
            <ul class="cats">
                {% for m in nav_menu %}
                    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                {% endfor %}
                <li><form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button type="submit">logout</button>
                </form></li>

            </ul>
        </nav>
    </div>
</div>

<div class="content">
    <div class="content_left">
        <ul>
            {% for c in categories %}
                <li> <a href="{{ c.get_absolute_url }}">{{ c }}</a> </li>
            {% endfor %}
        </ul>
    </div>
    <div class="content_right">
{% block content %}

{% endblock content %}
    </div>
</div>
</body>
</html>