{% extends 'base.html' %}

{% block content %}

    <h2>{{ product.name }}</h2>
    <div class="cat-image">
        <p><a href="{{ product.image.url }}"><img style="width: 100%" src="{{ product.image.url }}" alt="Нет данных"></a></p>
    </div>
    <div class="cat-description">
        <p> Артикул: {{ product.article_number }} </p>
        <p> Описание: {{ product.description }} </p>
        <p> Цена: {{ product.price }} руб. </p>

        <form action="{% url "cart:cart_add" product.id %}" method="post">
            {{ cart_product_form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
        </form>
    </div>

{% endblock content %}